# {{ ansible_managed }}

# Traefik provider docs: https://doc.traefik.io/traefik/https/acme/#providers
# and https://go-acme.github.io/lego/dns/cloudflare/

CF_API_EMAIL="{{ cloudflare_api_email }}"
#CF_API_KEY=...
#CF_DNS_API_TOKEN=...
CLOUDFLARE_DNS_API_TOKEN="{{ cloudflare_zone_api_key }}"
