name: tests

on:
  push:
    branches: [master, main]
    paths-ignore: ['**.md']
    tags-ignore: ['**']
  pull_request:
    paths-ignore: ['**.md']

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  gitleaks:
    name: Gitleaks
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
        with: {fetch-depth: 0}

      - name: Check for GitLeaks
        uses: gacts/gitleaks@v1 # Action page: <https://github.com/gacts/gitleaks>

  ansible-syntax-check:
    name: Ansible Syntax Check
    runs-on: ubuntu-20.04
    needs: [gitleaks]
    container: cytopia/ansible:2.11
    steps:
      - uses: actions/checkout@v3

      - run: echo "foobar" > ./.vault_password

      - run: ansible-playbook ./site.y*ml --syntax-check

  ansible-lint:
    name: Best practices checker for Ansible
    runs-on: ubuntu-20.04
    needs: [gitleaks]
    container: quay.io/ansible/creator-ee:v0.4.2
    steps:
      - uses: actions/checkout@v3

      - run: echo "foobar" > ./.vault_password

      - run: ansible-lint --force-color ./site.yml
